.sidebar
  .header
    .header__name
      = current_user.name
    .header__lists
      .list
        = link_to new_group_path do
          = icon('fa', 'edit',class: 'icon')
      .list
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',class: 'icon')

  .groups
    - current_user.groups.each do |g|
      .group
        = link_to group_messages_path(g) do
          .group__name
            = g.name
          .group__message
            = g.show_last_message